/*
===================================
BODY STYLES
===================================
*/

$bg-val1: #ffe2d2;
$bg-val2: #ffbc97;

@mixin background-gradient($val1, $val2) {
  background: -webkit-linear-gradient($val1, $val2) fixed;
  background: -moz-linear-gradient($val1, $val2) fixed;
  background: -o-linear-gradient($val1, $val2) fixed;
  background: linear-gradient($val1, $val2) fixed;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  @include background-gradient($bg-val1, $bg-val2);
  @include background-size(cover);
  background-repeat: no-repeat;
}

html {
  // Defines 1rem
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 40em) {
  html,
  body,
  #root {
    height: 100%;
  }
}

@media only screen and (max-width: 26.55em) {
  html,
  body,
  #root {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 20em) {
  html {
    font-size: 40%;
  }
}
